/* -------------- Product Carousel ---  */
.main-product{
    width: 100%;
}
.main-product .product{
    border-radius: 14px;
background-color: #b2aaa635;
padding: 0.2rem 0.2rem;
}
.main-product a:hover{
    color: inherit;
}
.main-product .product .img{
    position: relative;
    height: 250px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 400ms ease-in;
}
.main-cat-pro{
    /* border: 1px solid ; */
    width: 300px;
    min-height: 300px;
}
.main-product .product .img>img{
    position: absolute;
    object-fit: fill;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
    transition: all 400ms ease-in;
}
.main-product .product .img .property{
    position: absolute;
    top: 5%;
    right: 5%;
    /* background: #ff905a; */
    color: white;
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 2px 5px;
}
.main-product .product .img .property.bestseller{
    background: #ff905a;
}
.main-product .product .img .property.hotProduct{
    background: rgb(31, 207, 31);
}
.main-product .product .img .property.topSelling{
    background: rgb(239, 84, 84);
}

.main-product .product .img .front-img{
    opacity: 0;
}
.main-product .product .img:hover .back-img{
    opacity: 0;
}
.main-product .product .img:hover .front-img{
    opacity: 1;
}

.main-product .product .product-name{
    text-transform: uppercase;
    color: rgb(241, 24, 24);
    padding: 0.2rem;
    font-weight: 500;
    text-align: start;
    display: block;
    font-size: 1rem;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.main-product .product .sizes{
    text-align: left;
    margin-top: 5px;

}
.main-product .product .sizes small{
    padding: 0.2rem 0.6rem;
    white-space: nowrap;
    color: white;
    background-color: red;
    border: 1px solid white;
    margin-right: 0.3rem;
    /* transition: all 400ms ease-in; */
}
.main-product .product .sizes small:hover{
    border: 1px solid var(--color-main);
    background: var(--color-main);
    color: white;
}
.main-product .product .mrp{
    display: flex;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 5px;
    align-items: center;
}
.main-product .product .mrp strong{
    font-weight: 400;
    color: var(--color-main);
}
.main-product .product .mrp .original-price{
    color: var(--color-main);
    margin-right: 0.5rem;
}
.main-product .product .mrp .cut-price{
    text-decoration: line-through;
}
.main-product .product .grid-btn{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}
.main-product .product .grid-btn .addToCart{
    color: white;
    background: var(--color-main-light);
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    text-align: center;
    transition: all 300ms ease-in;
    margin-top: 0.5rem;
}
.main-product .product .grid-btn .addToCart:hover{
    background: var(--color-main);
}

@media only screen and (max-width: 800px) {
    .main-product .product .img .property {
        font-size: 0.9rem;

    }
    /* .main-product .product {
        width: 258px;
    } */
}


@media only screen and (max-width: 450px){
    .main-product .product .img .property {
        font-size: 0.8rem;
    }
    /* .main-product .product {
        width: 198px;
    } */
    .product-lists.main-product.shop-page {
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    }
    .main-product .product .img {
        height: 150px;
    }
    .main-product .product {
        width: 48vw;
    }
    .main-product .product .product-name {
        text-align: start;
        display: block;
        font-size: 1rem;
    }
    .main-product .product .mrp {
        display: flex;
        align-items: center;
        font-size: 1rem;
    }
    .main-product .product .grid-btn .addToCart {
        font-size: 1rem;
    }
}

